<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<body>
    
    <div class="row justify-content-center">

    
        <div class="col-5 text-center alert alert-dark" >
        <!-- {% if user.is_authenticated %} -->
                    
                    
                    <div class="row justify-content-end">
                        <div class="col-1">
                            <a href="crearprod/"><button type="button" class="btn btn-success">+</button></a>
                        </div>
                    </div>
                    
        
            {% if prods %}
                        {% for p in prods  %}
                        
                        <div class="row">
                            <div class="col-9 text-start ">
                                <h1>{{p.n_producto}}</h1>
                                <h6>{{p.precio}}</h6>
                                <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                    <p>{{p.desc_producto}}</p>
                                  </span>
                                  <a class="btn btn-success btn-small" href="../market/{{p.id}}/producto/"> <i class="bi bi-pencil-fill"></i></a>
                                
                                
                                
                            </div>
                            
                            <div class="col-3 text-center mt-4">
                               {% if p.imagen_principal %}
                                <img src="{{ p.imagen_principal.imagen.url }}" height="200px" alt="{{ p.n_producto }}">
                            {% else %}
                                <img src="/static/img/no-image.png" height="200px" alt="Sin imagen">
                            {% endif %}

                            </div>
                            <hr>
                            
                        </div>
                        
                        {% endfor %}
            {%else%}
                        No hay productos creados
                    
            {% endif %}
        <!-- {% else %} testeo testeo 2 testeo 3 testeo 5
                  Inicia sesión para poder visualizar el marketplace
        {% endif %} -->
        </div>
    </div>

</body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>