<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ prod.n_producto }}</h1>
    <p>{{ prod.desc_producto }}</p>
    <p>Precio: ${{ prod.precio }}</p>
    {%if prod.stock == 0%}
    <p>Producto sin Stock</p>
    {%else%}
    <p>Stock: {{prod.stock}}</p>
    {%endif%}
    <span><a type="button" href="../catalogo/{{prod.id_producto}}/editar">Editar</a></span>

<div>
    {% if imgs %}
        {% with principal=imgs|dictsortreversed:"es_principal" %}
            {% for img in principal %}
                <img src="{{ img.imagen.url }}" height="200px" alt="{{ prod.n_producto }}">
            {% endfor %}
        {% endwith %}
    {% else %}
        <p>No hay imágenes para este producto.</p>
    {% endif %}
</div>
<!-- dictsortreversed sirve para ordenar las imágenes y mostrar la principal primero en base a un diccionario -->



</body>
</html>