<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ prod.n_producto }}</h1>
    <p>{{ prod.desc_producto }}</p>
    <p>Precio: ${{ prod.precio }}</p>

<div>
  {% for img in imgs %}
      <img src="{{ img.imagen.url }}" height="200px" alt="{{ prod.n_producto }}">
  {% empty %}
      <p>No hay imágenes para este producto.</p>
  {% endfor %}
</div>
</body>
</html>